@model IEnumerable<BackOfficeApp.Models.Incidencia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de Incidencias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barrio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.NombreCompleto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaCreado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barrio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Descripccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Descripccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreado)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IncidenciaId">Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.IncidenciaId">Editar</a>
            </td>
        </tr>
}
    </tbody>
</table>
