@model IEnumerable<BackOfficeApp.Models.JuntaDeVecinos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Juntas de Vecinos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barrio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barrio.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JuntaDeVecinosId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.JuntaDeVecinosId">Detalles</a> 
            </td>
        </tr>
}
    </tbody>
</table>
